<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SIGEC</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../static/img/senac-logo.png" alt="Logo Senac">
        </div>
        <div class="card">
            <h1>Bem-vindo</h1>
            <p>Sistema de Gerenciamento de Estoque de Cozinha</p>
             
            <form>

                <label for="email">E-mail</label>
                <input
                    type="email"
                    id="email"
                    placeholder="Digite seu e-mail"
                    required
                >

                <label for="senha">Senha</label>
                <input
                    type="password"
                    id="senha"
                    placeholder="Digite sua senha"
                    required
                >

                <button type="submit">
                    Entrar
                </button>

            </form>

            <div class="links">
                <a href="alterarSenha.html">Esqueceu a senha?</a>
                <a href="cadastro.html">Criar conta</a>
            </div>
        </div>
    </div>
    <script src="../static/scripts/script.js"></script>
</body>
</html>